/* App.css */

body {
  background: linear-gradient(180deg, #2c3e50, #34495e); /* Dark gradient background */
  color: #ecf0f1; /* Light text color */
  font-family: 'Roboto', sans-serif;
}

#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  overflow-y: auto; /* Ensure the root element can scroll */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #1abc9c);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  background: #34495e; /* Dark card background */
  color: #ecf0f1;
  border-radius: 8px;
  padding: 1rem;
  margin: 0.5rem; /* Adjust margin for spacing */
  flex: 1 1 calc(25% - 1rem); /* Responsive flex property */
}

.read-the-docs {
  color: #888;
}

.wrapped-text {
  word-wrap: break-word;
  max-width: 50ch;
  color: #ecf0f1; /* Light text color */
}

.button {
  background: #1abc9c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.button:hover {
  background: #16a085;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
